*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 60%;
    height: 100vh;
    margin-left: 20%;
    
}

header {
    width: 100;
    height: 90px;
    background-color: darkblue;
    color:white;
    
    display: flex;
    justify-content: space-between; /*공간을 개수만큼 등분 */
    align-items: center;

    padding: 0px 30px;
}

a, a:visited, a:link{
    color: inherit; /*들어갔던 링크 글자 자주색으로 안바뀜*/
    text-decoration: none; /*링크 언더라인 삭제*/
}

nav ul li a:hover{
    background-color:blueviolet;
    color: white;
}

ul{
    list-style-type: none;
    width: 100%;
}

nav ul li:hover{
    background-color:blueviolet;
    color: white;
}

nav ul{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color:brown;
    border-style: none;
}

section ul li:hover{
    background-color: coral;
    color: white;
}

section ul li{
    margin: 1rem;
    font-size: 1.5rem;
    text-align: left;
    list-style-type: none;
    background-color: rgb(212, 205, 163);
    color: black;
    border-color: black;
    border-style: double;
    padding-left: 10px;
}